@import 'variables';
@import 'mixins';
@import '../node_modules/react-toastify/dist/ReactToastify.css';

html {
    font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  color: var(--text-color);
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

header, nav, footer, section, article {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

.visually-hidden {
  @include visually-hidden;
}

@keyframes flash {
  0% { background-color: var(--element-color); }
  50% { background-color: var(--text-color); }
  100% { background-color: var(--element-color); }
}

/* Styles pour la scrollbar */
::-webkit-scrollbar {
	width: 12px;
	background-color: var(--color-none);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--color-shadow);
	background-color: var(--module-color-2);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.20, var(--element-color)),
									   color-stop(0.50, var(--color-none)),
									   color-stop(0.86, var(--element-color)));
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color); /* Couleur du curseur au survol */
}
